@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e8e9ea;
  --foreground: #171717;
  --light: rgb(248, 245, 244);
  --dark: #2c2e32;
  --bglight: rgb(210, 210, 210);
  --bgdark: #393f4c;
  --c1: #42c68f;
  --c1hover: #279e69;
}



body {
  color: var(--dark);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dark body{
  color: var(--bglight);
  background: var(--dark);
}